/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    margin: 0px;
    padding: 0px;
}

.colored-links {
    text-decoration: none;
}
.colored-links:visited {
    color: black;
}
.colored-links:hover {
    color: gray;
}
.Linkedin {
    color: black;
    text-decoration: none;
}
.Linkedin:visited {
    color: black;
}

.Linkedin:hover {
    color: black;
}
.Github:visited {
    color: black;
}

.Project1:visited,
.Project2:visited {
    color: white;
}
.Project1,
.Project2 {
    text-decoration: none;
}
.resume {
    color: black;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: black;
}
.link:visited {
    color: black;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    font-weight: 900;
    /* font-style:normal; */
    overflow-x: hidden;
}

.name {
    font-size: 1.2rem;
    /* display: flex; */
    width: 100vw;
    margin-left: 70px;
    color: black;
    /* font-weight: bold; */
    animation: name 1s ease-in;
}

.Attributes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    font-weight: bold;
    font-size: 20px;
    color: dark grey;

    /* background-color: red; */
}

.abc > h4 {
    cursor: pointer;
}

.Attributes > h4:hover {
    color: grey;
}

.abc:hover {
    border-bottom: 1px solid;
    color: grey;
    transform: scale(1.1);
    /* background-color: red; */
}

.my--nav {
    display: flex;
    margin: 10px 0px 0px 0px;
}

@keyframes name {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

.About {
    animation: name 1.1s ease-in;
}
.Experience {
    animation: name 1.2s ease-in;
}
.Projects {
    animation: name 1.3s ease-in;
}
.Contact {
    animation: name 1.4s ease-in;
}

.image--container > img {
    width: 350px;
    height: 370px;
    border-radius: 50%;
    animation: image--container ease-in 1.5s;
}

@keyframes image--container {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.main--container {
    display: flex;
    justify-content: space-evenly;
    margin: 55px;
}

.hello {
    /* font-weight: bold; */
    /* display: flex; */
    text-align: center;
    font-size: 1.1rem;
    color: grey;
}
.intro--container {
    margin-top: 54px;
    /* animation: intro--container 1s ease-in; */
}

@keyframes intro--container {
    from {
        transform: translateX(250px);
    }

    to {
        transform: translateX(0px);
    }
}

.main--name {
    font-weight: bolder;
    font-size: 3rem;
}

.job {
    text-align: center;
    font-style: normal;
    color: grey;
}

.button1 {
    border-radius: 50px;
    height: 50px;
    width: 120px;
    margin: 20px 28px 28px 28px;
}

.button2 {
    border-radius: 50px;
    height: 50px;
    width: 120px;
    color: white;
    background-color: black;
}

.icon1 {
    /* margin-top: 10px; */
    border-radius: 10px;
    /* width:50px; */
    /* font-size: 20px; */
}

.icon2 {
}

.icons-container {
    display: inline-block;
    position: absolute;
    margin-top: 90px;

    margin-left: -170px;
}

.icon1,
.icon2 {
    display: inline-block;
    margin-right: 20px;
}

.About-heading {
    /* background-color: red; */
    margin-top: 100px;
    text-align: center;
    /* font-weight: 800; */
    color: grey;
    font-size: 18px;
}

.Main-heading {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    /* font-style: italic; */
}

.about-container {
    /* text-align: ; */

    margin-left: 10px;
}

.aboutImage--container > img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.aboutImage--container {
    height: 400px;
    width: 350px;
    display: flex;
    margin-left: 150px;
}
.forexperience--container {
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    /* margin: 40px; */
    margin-left: 40px;
}

.foreducation--container {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin-left: 50px;

    /* display: flex; */
}

.main-section {
    display: flex;
}

.compile {
    display: flex;
    margin: 10px;
    width: 550px;
    flex-wrap: wrap;
}

.education--height {
    font-size: 12px;
    font-weight: bolder;
    /* height: 100%; */
}

.experience--height {
    font-size: 12px;
    font-weight: bold;
}

.icon3,
.icon4 {
    margin-top: 15px;
    font-size: 1.5rem;
}

.introduction {
    margin: 20px 0px 100px 40px;
    /* font-weight: 700; */
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.experience-container {
    text-align: center;
    margin-left: 10px;
}

.sub-heading {
    /* font-weight: 800; */

    /* margin-top: 100px; */
    text-align: center;
    /* font-weight: 800; */
    color: grey;
    font-size: 18px;
}

.experience-heading {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.container1 {
    height: 350px;
    width: 450px;
    border: 2px solid grey;
    border-radius: 20px;
}

.container2 {
    height: 350px;
    width: 450px;
    border: 2px solid grey;
    margin-left: 20px;
    border-radius: 20px;
}

.bothContainers {
    display: flex;
    justify-content: center;
}

.frontHeading {
    text-align: center;
    margin-top: 20px;
    color: grey;
    font-style: oblique;
}

.container1 > i {
}

.experiences {
    display: flex;
    padding: 20px 0;
    /* max-width: 450px; */
    flex-wrap: wrap;
    justify-content: center;
}

.icon5 {
    margin-right: 15px;
    font-size: 1.3rem;
}

.exp {
    display: flex;
    padding: 5px 10px;
    width: 150px;
    margin: 10px;
}

.skills {
    display: flex;
    padding: 20px 0;
    /* max-width: 450px; */
    flex-wrap: wrap;
    justify-content: center;
}

.custom-card {
    border: 2px solid gray;
    display: inline-block;
    /* backgroudsdfk */
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.custom-card-group {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.btn1 {
    margin-right: 10px;
    width: 100px;
    background-color: white;
}

.buttons {
    text-align: center;
}

.Email {
    display: flex;
}

.Linkedin-Profile {
    display: flex;
    margin-left: 20px;
}

.contact-info {
    display: flex;
    border: 2px solid lightgrey;
    padding: 15px;
    border-radius: 25px;
    max-width: 530px;
    justify-content: center;
    margin: auto;
}

.icon6 {
    border-radius: 10px;
    /* background-color: red; */
    font-size: 0.9rem;
    margin-right: 5px;
}

.icon7 {
    border: 2px solid black;
    border-radius: 50%;
    width: 35px;
    /* padding: 0px 4px 0px 5px; */
    padding-bottom: 4px;
    margin-right: 5px;
    height: 35px;
    display: grid;
    place-content: center;
    background-color: black;
    color: white;
}
